*{
    box-sizing: border-box;
}

/* @font-face{
    font-family: 'Roboto-400';
    src:local(Roboto);
    src:url(/src/font/Roboto-Regular.ttf);
} */

html{
    font-family: Roboto_400;
}

@font-face {
    font-family: 'Philosopher_400';
    src: local(Philosopher);
    src: url('../fonts/Philosopher.eot');
    src: url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher.woff') format('woff'),
    url('../fonts/Philosopher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_400';
    src: local(Roboto);
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_700';
    src: local(Roboto-Bold);
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #FFE2B0;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.logo-box{
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline;
    margin-right: 100px;
}

li:last-child{
    margin-right: 0px;
}

a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-family: Roboto_700;
}

.section-about{
    height: 640px;
    background: url(../img/back-pic.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block{
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg,rgba(244,213,178,0.8)0%, rgba(234,156,65,0.8)100%);
    position: absolute;
    top: 55%;
    left: 50%;
    padding-top: 15px;
}

.section-about__border{
    width: 390px;
    height: 160px;
    border: solid 1px black;
    margin: 0 auto;
    text-align: left;
    padding: 17px 0 0 28px;

}

.section-about__title{
    font-size: 36px;
    margin-bottom: 9px;
    font-family: Philosopher_400;
}

.section-about__text{
    font-size: 12px;
}

.section-description{
    text-align: center;
    margin-bottom: 20px;
}

.section-description__icon-box{
    margin-bottom: 20px;
}

.section-description__icon-box img{
    margin-right: 76px;
}

.section-description__icon-box img:last-child{
    margin: 0;
}

.section-description__text-box{
    width: 1000px;
    margin: 0 auto;
}

.section-description__title{
    font-size: 96px;
    margin-bottom: 20px;
    font-family: Philosopher_400;
}

.section-description__span{
    color:#F15B40;
}

.section-description__text{
    font-size: 18px;
}

.section-map{
    text-align: center;
    margin-bottom: 20px;
}

.section-map__title{
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Philosopher_400;
}

hr{
    border:none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    height: 60px;
}
